body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1e1e1e;
}

#app {
    border: 2px solid #f2f2f2;
    width: clamp(350px, calc(100dvw - 30px), 800px);
    height: clamp(450px, calc(100dvh - 10px), 600px);
    border-radius: 8px;
    margin: auto;
}
