@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}
@font-face {
  font-family: "FigtreeItalic";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
}
